@model LoginModel
 
<!DOCTYPE html>
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <title>Findeo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/color.css">

</head>

<body>
    @if (ViewBag.error != null)
    {
        <label class="text-danger">@ViewBag.error</label>
    }
    <!-- Wrapper -->
<div id="wrapper">


    <!-- Compare Properties Widget
    ================================================== -->


    <!-- Contact
    ================================================== -->
    <!-- Container -->
    <div class="container">

        <div class="row">
            <div class="col-md-4 col-md-offset-4">



                <!--Tab -->
                <div class="my-account style-1 margin-top-5 margin-bottom-40">


                    <div class="tabs-container alt">

                        <!-- Login -->
                        <div class="tab-content" id="tab1" style="display: none;">
                            <form asp-action="Login" method="post" class="login">

                                <p class="form-row form-row-wide">
                                    <label for="username">
                                        Email Address:
                                        <i class="im im-icon-Male"></i>
                                        <input asp-for="EmailAddress" type="text" class="input-text" />
                                    </label>
                                </p>

                                <p class="form-row form-row-wide">
                                    <label for="password">
                                        Password:
                                        <i class="im im-icon-Lock-2"></i>
                                        <input asp-for="Password" class="input-text" type="password" />
                                    </label>
                                </p>

                                <p class="form-row">
                                    <input type="submit" class="button border margin-top-10" name="login" value="Login" />

                                    <label for="rememberme" class="rememberme">
                                        <input name="rememberme" type="checkbox" id="rememberme" value="forever" /> Remember Me
                                    </label>
                                </p>
                                @Html.ActionLink("Register", "Register")


                            </form>
                        </div>

                    </div>
                </div>



            </div>
        </div>

    </div>
    <!-- Container / End -->
    <!-- Footer
    ================================================== -->
    <div class="margin-top-55"></div>

    <div id="footer">
        <!-- Main -->
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-6">
                    <i class="fas fa-home"></i>
                    <br><br>
                    <p>Everything you need to know when you're looking to buy, rent, or sell - all in one place.</p>
                </div>

                <div class="col-md-4 col-sm-6 ">
                    <h4>Helpful Links</h4>
                    <ul class="footer-links">
                        <li>@Html.ActionLink("Home", "Index", "Home", null)</li>
                        <li>@Html.ActionLink("Sign up", "Register", "Account", null)</li>
                        <li>@Html.ActionLink("Log in", "Login", "Account", null)</li>
                        <li>@Html.ActionLink("Submit Property", "SubmitProperty", "Home", null)</li>
                    </ul>

                    <ul class="footer-links">
                        <li>@Html.ActionLink("Agent SignUp", "SignUp", "Home", null)</li>
                        <li>@Html.ActionLink("Our Agents", "AgentLists", "Home", null)</li>

                    </ul>
                    <div class="clearfix"></div>
                </div>

                <div class="col-md-3  col-sm-12">
                    <h4>Contact Us</h4>
                    <div class="text-widget">
                        <span>45 Park Avenue, Tampa</span> <br>
                        Phone: <span>(123) 123-456 </span><br>
                        E-Mail:<span>office@example.com</span><br>
                    </div>

                    <ul class="social-icons margin-top-20">
                        <li><a class="facebook" href="www.facebook.com"><i class="icon-facebook"></i></a></li>
                        <li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
                        <li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
                        <li><a class="vimeo" href="#"><i class="icon-vimeo"></i></a></li>
                    </ul>

                </div>

            </div>

            <!-- Copyright -->
            <div class="row">
                <div class="col-md-12">
                    <div class="copyrights">© All Rights Reserved.</div>
                </div>
            </div>

        </div>

    </div>
    <!-- Footer / End -->
    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>


    <!-- Scripts
    ================================================== -->
    <script type="text/javascript" src="~/scripts/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="~/scripts/jquery-migrate-3.3.1.min.js"></script>
    <script type="text/javascript" src="~/scripts/chosen.min.js"></script>
    <script type="text/javascript" src="~/scripts/magnific-popup.min.js"></script>
    <script type="text/javascript" src="~/scripts/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/scripts/rangeSlider.js"></script>
    <script type="text/javascript" src="~/scripts/sticky-kit.min.js"></script>
    <script type="text/javascript" src="~/scripts/slick.min.js"></script>
    <script type="text/javascript" src="~/scripts/masonry.min.js"></script>
    <script type="text/javascript" src="~/scripts/mmenu.min.js"></script>
    <script type="text/javascript" src="~/scripts/tooltips.min.js"></script>
    <script type="text/javascript" src="~/scripts/custom.js"></script>





</div>
    <!-- Wrapper / End -->


</body>
</html>