
@{
    ViewData["Title"] = "AgentLists";
}

<!DOCTYPE html>
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <title>Findeo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/color.css">

</head>

<body>

    <!-- Wrapper -->
    <div id="wrapper">


        <!-- Compare Properties Widget
    ================================================== -->
        



        <!-- Content
    ================================================== -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <!-- Agency -->
                    <div class="agent agent-page agency">

                        <a href="agency-page.html" class="agent-avatar">
                            <img src="~/agentpic/1.jpg" alt="">
                        </a>

                        <div class="agent-content">
                            <div class="agent-name">
                                <h4><a href="agency-page.html">Tom Wilson</a></h4>
                            </div>

                            <p>Maecenas quis consequat libero, a feugiat eros. Nunc ut lacinia tortor morbi ultricies laoreet ullamcorper phasellus semper</p>

                            <ul class="agent-contact-details">
                                <li><i class="sl sl-icon-call-in"></i>(123) 123-456</li>
                                <li><i class="fa fa-envelope-o "></i><a href="#">tom@example.com</a></li>
                            </ul>

                            <ul class="social-icons">
                                <li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
                                <li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>

                    </div>

                    <!-- Agency -->
                    <div class="agent agent-page agency">

                        <a href="agency-page.html" class="agent-avatar">
                            <img src="~/agentpic/4.jpg" alt="">
                        </a>


                        <div class="agent-content">
                            <div class="agent-name">
                                <h4><a href="agency-page.html">Jennie Wilson</a></h4>
                            </div>

                            <p>Maecenas quis consequat libero, a feugiat eros. Nunc ut lacinia tortor morbi ultricies laoreet ullamcorper phasellus semper</p>

                            <ul class="agent-contact-details">
                                <li><i class="sl sl-icon-call-in"></i>(123) 123-456</li>
                                <li><i class="fa fa-envelope-o "></i><a href="#">jennie@example.com</a></li>
                            </ul>

                            <ul class="social-icons">
                                <li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
                                <li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
                                <li><a class="linkedin" href="#"><i class="icon-linkedin"></i></a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>

                    </div>

                    <!-- Agency -->
                    <div class="agent agent-page agency">

                        <a href="agency-page.html" class="agent-avatar">
                            <img src="~/agentpic/3.jpg" alt="">
                        </a>


                        <div class="agent-content">
                            <div class="agent-name">
                                <h4><a href="agency-page.html">David Strozier</a></h4>
                            </div>

                            <p>Maecenas quis consequat libero, a feugiat eros. Nunc ut lacinia tortor morbi ultricies laoreet ullamcorper phasellus semper</p>

                            <ul class="agent-contact-details">
                                <li><i class="sl sl-icon-call-in"></i>(123) 123-456</li>
                                <li><i class="fa fa-envelope-o "></i><a href="#">david@example.com</a></li>
                            </ul>

                            <ul class="social-icons">
                                <li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
                                <li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
                                <li><a class="linkedin" href="#"><i class="icon-linkedin"></i></a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>

                    </div>

                </div>

                <div class="col-md-12">
                    <div class="clearfix"></div>
                    <!-- Pagination -->
                    <div class="pagination-container margin-top-20">
                        <nav class="pagination">
                            <ul>
                                <li><a href="#" class="current-page">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                            </ul>
                        </nav>

                        <nav class="pagination-next-prev">
                            <ul>
                                <li><a href="#" class="prev">Previous</a></li>
                                <li><a href="#" class="next">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                    <!-- Pagination / End -->
                </div>

            </div>
        </div>



        <!-- Footer
    ================================================== -->
        <div class="margin-top-55"></div>

        <div id="footer">
            <!-- Main -->
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-sm-6">
                        <i class="fas fa-home"></i>
                        <br><br>
                        <p>Everything you need to know when you're looking to buy, rent, or sell - all in one place.</p>
                    </div>

                    <div class="col-md-4 col-sm-6 ">
                        <h4>Helpful Links</h4>
                        <ul class="footer-links">
                            <li>@Html.ActionLink("Home", "Index", "Home", null)</li>
                            <li>@Html.ActionLink("Sign up", "Register", "Account", null)</li>
                            <li>@Html.ActionLink("Log in", "Login", "Account", null)</li>
                            <li>@Html.ActionLink("Submit Property", "SubmitProperty", "Home", null)</li>
                        </ul>

                        <ul class="footer-links">
                            <li>@Html.ActionLink("Agent SignUp", "SignUp", "Home", null)</li>
                            <li>@Html.ActionLink("Our Agents", "AgentLists", "Home", null)</li>

                        </ul>
                        <div class="clearfix"></div>
                    </div>

                    <div class="col-md-3  col-sm-12">
                        <h4>Contact Us</h4>
                        <div class="text-widget">
                            <span>45 Park Avenue, Tampa</span> <br>
                            Phone: <span>(123) 123-456 </span><br>
                            E-Mail:<span>office@example.com</span><br>
                        </div>

                        <ul class="social-icons margin-top-20">
                            <li><a class="facebook" href="www.facebook.com"><i class="icon-facebook"></i></a></li>
                            <li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
                            <li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
                            <li><a class="vimeo" href="#"><i class="icon-vimeo"></i></a></li>
                        </ul>

                    </div>

                </div>

                <!-- Copyright -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="copyrights">© All Rights Reserved.</div>
                    </div>
                </div>

            </div>

        </div>
        <!-- Footer / End -->
        <!-- Back To Top Button -->
        <div id="backtotop"><a href="#"></a></div>


        <!-- Scripts
    ================================================== -->
        <script type="text/javascript" src="~/scripts/jquery-3.5.1.min.js"></script>
        <script type="text/javascript" src="~/scripts/jquery-migrate-3.3.1.min.js"></script>
        <script type="text/javascript" src="~/scripts/chosen.min.js"></script>
        <script type="text/javascript" src="~/scripts/magnific-popup.min.js"></script>
        <script type="text/javascript" src="~/scripts/owl.carousel.min.js"></script>
        <script type="text/javascript" src="~/scripts/rangeSlider.js"></script>
        <script type="text/javascript" src="~/scripts/sticky-kit.min.js"></script>
        <script type="text/javascript" src="~/scripts/slick.min.js"></script>
        <script type="text/javascript" src="~/scripts/masonry.min.js"></script>
        <script type="text/javascript" src="~/scripts/mmenu.min.js"></script>
        <script type="text/javascript" src="~/scripts/tooltips.min.js"></script>
        <script type="text/javascript" src="~/scripts/custom.js"></script>





    </div>
    <!-- Wrapper / End -->


</body>
</html>
